<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/card_game/src/card_game/cardsGame.java"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="1"/>
    </listAttribute>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_EXCLUDE_TEST_CODE" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="card_game.cardsGame"/>
    <stringAttribute key="org.eclipse.jdt.launching.MODULE_NAME" value="card_game"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="card_game"/>
</launchConfiguration>
